* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(9, 48, 8);
}
h1 {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Spicy Rice", serif;
  font-size: 10em;
}
h1:hover {
  color: rgb(245, 184, 0);
  text-shadow: 0 0 25px whitesmoke;
}

#Web-Site {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  height: 24rem;
  width: 34rem;
  border-radius: 20px;
  box-shadow: 4px 4px 4px 6px black;
}
.container:hover {
  color: aqua;
  box-shadow: 0 0 25px white;
}

p {
  font-size: 18px;
  line-height: 2em;
  color: rgb(255, 195, 15);
}

#Image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Dogs-Image {
  height: 550px;
  width: 550px;
  border-radius: 20px;
  margin-bottom: 100px;
}

.Dogs-Image:hover {
  color: aqua;
  box-shadow: 0 0 25px white;
}
.name {
  color: whitesmoke;
  font-family: "Sour Gummy", sans-serif;
  font-size: 42px;
  text-align: center;
}

.nameCompany {
  color: antiquewhite;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.phone,
.email {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Overlock", sans-serif;
}
.email:hover {
  font-size: 18px;
}
@media only screen and (max-width: 800px) {
  #web {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 5rem;
  }
}
